extends ../template

block variables
    - var title = 'Акции и скидки'
    - var contactForm = true

block content
    main
        .cont-block__wrap 
            .cont-block.cont-block_m30
                h1.cont-block__h1 Акции и скидки
                ul.bread-cru 
                    li.bread-cru__item 
                        a(href="#").bread-cru__link Главная
                    li.bread-cru__item 
                        .bread-cru__link Акции и скидки

        //- .cont-block__wrap
            .cont-block
        .cont-block__wrap
            .cont-block
                ul.sale-card 
                    li.sale-card__item 
                        a(href="#").sale-card__link
                            img(src="./assets/images/img-01.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст").sale-card__img
                            .sale-card__body 
                                .sale-card__date До 24 сентября 2020
                                .sale-card__name ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст
                                ul.sale-card__teg-list 
                                    li.sale-card__teg UP Пушкинский
                                    li.sale-card__teg Zoom Hotel
                    li.sale-card__item 
                        a(href="#").sale-card__link
                            img(src="./assets/images/img-02.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст").sale-card__img
                            .sale-card__body 
                                .sale-card__date До 24 сентября 2020
                                .sale-card__name ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст
                                ul.sale-card__teg-list 
                                    li.sale-card__teg UP Пушкинский
                                    li.sale-card__teg Zoom Hotel
                    li.sale-card__item 
                        a(href="#").sale-card__link
                            img(src="./assets/images/img-01.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст").sale-card__img
                            .sale-card__body 
                                .sale-card__date До 24 сентября 2020
                                .sale-card__name ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст
                                ul.sale-card__teg-list 
                                    li.sale-card__teg UP Пушкинский
                                    li.sale-card__teg Zoom Hotel
                    li.sale-card__item 
                        a(href="#").sale-card__link
                            img(src="./assets/images/img-02.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст").sale-card__img
                            .sale-card__body 
                                .sale-card__date До 24 сентября 2020
                                .sale-card__name ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст
                                ul.sale-card__teg-list 
                                    li.sale-card__teg UP Пушкинский
                                    li.sale-card__teg Zoom Hotel
                    li.sale-card__item 
                        a(href="#").sale-card__link
                            img(src="./assets/images/img-01.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст").sale-card__img
                            .sale-card__body 
                                .sale-card__date До 24 сентября 2020
                                .sale-card__name ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст
                                ul.sale-card__teg-list 
                                    li.sale-card__teg UP Пушкинский
                                    li.sale-card__teg Zoom Hotel
