extends ../template

block variables
    - var title = 'Контакты'
    - var contactForm = false

block content
    main
        .cont-block__wrap 
            .cont-block.cont-block_m30
                h1.cont-block__h1 Контакты
                ul.bread-cru 
                    li.bread-cru__item 
                        a(href="#").bread-cru__link Главная
                    li.bread-cru__item 
                        .bread-cru__link Контакты

        //- .cont-block__wrap
            .cont-block
        .cont-block__wrap
            .cont-block
                <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c5fc5199-ffeb-4030-a7b6-3369088c5bd2" type="text/javascript"></script>
                ul.contact-map
                    li.contact-map__item(data-contact-map='59.950235, 30.316623')
                        .contact-map__body 
                            h3.contact-map__h Центральный офис продаж
                            .contact-map__metro
                                svg(width="20" height="20").metro-color_2
                                    use(xlink:href="./assets/images/sprite.svg#metro")
                                | Черная речка
                            .contact-map__adress-wrap
                                .contact-map__adress 
                                    .contact-map__adress-name Адрес:
                                    .contact-map__adress-text Большой пр. ПС, д. 48, офис 1
                                .contact-map__adress 
                                    .contact-map__adress-name Время работы:
                                    .contact-map__adress-text Ежедневно с 9:00 до 21:00
                                .contact-map__adress 
                                    .contact-map__adress-name Телефон:
                                    a(href="tel:+74951064607").contact-map__adress-text +7 (495) 106-4607
                        .contact-map__map

                    li.contact-map__item(data-contact-map='59.950235, 31.316623') 
                        .contact-map__body 
                            h3.contact-map__h Офис продаж в UP-квартал "Пушкинский"
                            .contact-map__metro
                                svg(width="20" height="20").metro-color_1
                                    use(xlink:href="./assets/images/sprite.svg#metro")
                                | Черная речка
                            .contact-map__adress-wrap
                                .contact-map__adress 
                                    .contact-map__adress-name Адрес:
                                    .contact-map__adress-text Большой пр. ПС, д. 48, офис 1
                                .contact-map__adress 
                                    .contact-map__adress-name Время работы:
                                    .contact-map__adress-text Ежедневно с 9:00 до 21:00
                                .contact-map__adress 
                                    .contact-map__adress-name Телефон:
                                    a(href="tel:+74951064607").contact-map__adress-text +7 (495) 106-4607
                        .contact-map__map

                    li.contact-map__item(data-contact-map='59.950235, 33.316623') 
                        .contact-map__body 
                            h3.contact-map__h Офис продаж в UP-квартал "Московский"
                            .contact-map__metro
                                svg(width="20" height="20").metro-color_5
                                    use(xlink:href="./assets/images/sprite.svg#metro")
                                | Черная речка
                            .contact-map__adress-wrap
                                .contact-map__adress 
                                    .contact-map__adress-name Адрес:
                                    .contact-map__adress-text Большой пр. ПС, д. 48, офис 1
                                .contact-map__adress 
                                    .contact-map__adress-name Время работы:
                                    .contact-map__adress-text Ежедневно с 9:00 до 21:00
                                .contact-map__adress 
                                    .contact-map__adress-name Телефон:
                                    a(href="tel:+74951064607").contact-map__adress-text +7 (495) 106-4607
                        .contact-map__map
