extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        // Слайдер на главной
        .cont-block__wrap.cont-block__wrap_swiper
            .main-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .main-slider__slide
                            .main-slider__content
                                .main-slider__logo
                                    <svg width="180" height="47" fill="none" xmlns="http://www.w3.org/2000/svg"><g fill="var(--color-main-text, #ffffff)"><path d="M116.679 39.587l1.691 2.699v.233h-1.754l-1.293-2.33c-.244.022-.489.03-.734.026v2.304h-1.546V36.48h1.546v2.364c.46 0 .743-.031.862-.094a.617.617 0 00.287-.353c.103-.285.187-.578.252-.874a1.42 1.42 0 01.659-.932c.344-.21.835-.246 1.475-.105v1.063c-.399-.026-.639.117-.718.428-.204.758-.447 1.294-.727 1.609zm7.808.297c.129.234.195.498.192.766.016.488-.162.962-.496 1.32-.33.347-.791.517-1.381.517h-2.852v-6.033h2.607a1.862 1.862 0 011.351.506 1.824 1.824 0 01.52 1.35 1.376 1.376 0 01-.133.57 1.34 1.34 0 01-.356.473c.235.115.426.3.548.53zm-2.988-1.05h.955a.4.4 0 00.329-.143.536.536 0 00.126-.335.577.577 0 00-.109-.377.418.418 0 00-.346-.16h-.955v1.014zm1.65 1.816a.498.498 0 00-.273-.496.43.43 0 00-.194-.038h-1.183v.999h1.195c.273 0 .416-.153.455-.465zm6.006-4.232l2.692 5.888v.217h-1.599l-.341-.752h-2.218l-.339.752h-1.614v-.217l2.714-5.888h.705zm.254 4.032l-.613-1.458-.61 1.458h1.223zm7.94-3.3a2.518 2.518 0 01-.014 3.149c-.374.436-.894.654-1.556.654h-1.07v1.57h-1.543V36.47h2.614c.664 0 1.191.228 1.569.68zm-.932 1.548a1.086 1.086 0 00-.167-.6.528.528 0 00-.471-.252h-1.093v1.73h1.093a.556.556 0 00.461-.264 1.1 1.1 0 00.177-.615v.001zm2.515-.835h1.451v4.661h1.495v-4.66h1.451v-1.381h-4.397v1.38zm8.129-1.443l2.688 5.887v.217h-1.596l-.349-.752h-2.212l-.342.752h-1.613v-.217l2.716-5.887h.708zm.258 4.031l-.621-1.458-.603 1.457 1.224.001zm4.364.157c-.036.331-.102.55-.209.65-.106.1-.321.13-.646.1l-.026 1.13c.444.098.903.106 1.35.023a1.134 1.134 0 00.75-.545c.161-.285.267-.72.318-1.306l.23-2.77h1.284v4.634h1.54v-6.043h-4.18l-.411 4.127zm10.409-8.326V46.66H91.439V32.28l70.653.001zm-1.803 1.792h-51.188v10.794h51.188V34.074zm-59.555 8.891h1.755v-3.79h-.793l1.533-2.33 1.533 2.33h-.79v1.95a2.262 2.262 0 001.66-.764 2.732 2.732 0 00.66-1.826 2.76 2.76 0 00-.647-1.87c-.444-.526-1.06-.793-1.844-.793h-3.067v7.093zm-6.485-2.33c0 .757.273 1.353.83 1.787a3.396 3.396 0 003.987 0 2.173 2.173 0 00.822-1.787V35.88h-1.802v4.708a.716.716 0 01-.297.629 1.175 1.175 0 01-.704.213 1.224 1.224 0 01-.718-.213.721.721 0 01-.288-.63V35.88h-1.83v4.756z"/><path d="M0 .342V41.26h87.832v-3.583H3.607V3.924h172.786v33.753h-10.694v3.583H180V.342H0z"/><path d="M29.372 13.948v13.706h-3.607V17.175h-4.258V27.65h-3.609V13.949h11.474zM35.467 22.858l-4.752-8.459v-.45h3.963l2.622 5.267h.118l2.327-5.268h3.824v.374L38.58 24.426c-1.379 3.131-3.017 4.307-6.84 2.897l.472-2.526c1.302.47 2.11.489 2.78-.96l.474-.98zM44.793 13.948h3.608v10.476h3.332V13.948h3.607v10.476h3.331V13.948h3.609v13.706H44.793V13.948zM70.171 22.368c-.57.05-1.142.07-1.715.06v5.227h-3.608V13.949h3.608v5.367c.575 0 1.519.039 2.011-.215.63-.314.848-1.142 1.242-2.78.393-1.64 1.755-3.015 4.987-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.602 4.092 3.943 6.135v.529h-4.08l-3.018-5.294zM79.805 27.695H78.74V13.95h3.607v6.696l7.196-6.75h1.125V27.66h-3.615v-7.074l-7.248 7.11zM101.105 27.654V22.17h-4.284v5.482H93.22V13.948h3.603v4.955h4.277V13.95h3.608v13.705h-3.602zM113.574 13.81c2.839 0 5.955 1.529 6.487 5.19h-3.47c-.493-1.41-1.539-1.958-3.017-1.958-2.089 0-3.447 1.488-3.447 3.76 0 1.977 1.34 3.719 3.447 3.719 1.498 0 2.682-.685 3.057-2.173h3.469c-.533 3.896-3.591 5.442-6.526 5.442-3.528 0-7.057-2.35-7.057-6.969 0-4.719 3.529-7.01 7.057-7.01zM127.13 22.368a15.66 15.66 0 01-1.715.06v5.227h-3.613V13.949h3.604v5.367c.575 0 1.518.039 2.011-.215.631-.314.848-1.142 1.241-2.78.394-1.64 1.756-3.015 4.988-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.601 4.092 3.943 6.135v.529h-4.073l-3.016-5.294zM136.754 27.695h-1.063V13.95h3.609v6.696l7.196-6.75h1.124V27.66h-3.608v-7.074l-7.258 7.11zM151.238 27.696h-1.064V13.95h3.608v6.697l7.196-6.751h1.123V27.66h-3.607v-7.073l-7.256 7.109zm2.208-17.66c.061 2.094 1.243 3.19 3.273 3.19 2.09 0 3.233-1.096 3.312-3.19-.651-.08-1.281-.158-1.951-.198-.119.784-.612 1.039-1.4 1.039-.789 0-1.241-.352-1.282-1.039l-1.952.197z"/></g></svg>
                                a(href="#").main-slider__text 
                                    p Cвоя квартира в сданном доме (первом корпусе) за 20%!
                                a(href="#").linc-icon.main-slider__button
                                    | Узнать больше
                                    .linc-icon__icon
                                        svg(width="20" height="20")
                                            use(xlink:href="./assets/images/sprite.svg#arrow")
                                svg(width="84" height="450").main-slider__content-right
                                    use(xlink:href="./assets/images/sprite.svg#slider-arrow")
                            .main-slider__img
                                img(src="./assets/images/img-02.jpg" alt="Cвоя квартира в сданном доме (первом корпусе) за 20%!")

                    .swiper-slide
                        .main-slider__slide
                            .main-slider__content
                                .main-slider__logo
                                    <svg width="180" height="47" fill="none" xmlns="http://www.w3.org/2000/svg"><g fill="var(--color-main-text, #ffffff)"><path d="M116.679 39.587l1.691 2.699v.233h-1.754l-1.293-2.33c-.244.022-.489.03-.734.026v2.304h-1.546V36.48h1.546v2.364c.46 0 .743-.031.862-.094a.617.617 0 00.287-.353c.103-.285.187-.578.252-.874a1.42 1.42 0 01.659-.932c.344-.21.835-.246 1.475-.105v1.063c-.399-.026-.639.117-.718.428-.204.758-.447 1.294-.727 1.609zm7.808.297c.129.234.195.498.192.766.016.488-.162.962-.496 1.32-.33.347-.791.517-1.381.517h-2.852v-6.033h2.607a1.862 1.862 0 011.351.506 1.824 1.824 0 01.52 1.35 1.376 1.376 0 01-.133.57 1.34 1.34 0 01-.356.473c.235.115.426.3.548.53zm-2.988-1.05h.955a.4.4 0 00.329-.143.536.536 0 00.126-.335.577.577 0 00-.109-.377.418.418 0 00-.346-.16h-.955v1.014zm1.65 1.816a.498.498 0 00-.273-.496.43.43 0 00-.194-.038h-1.183v.999h1.195c.273 0 .416-.153.455-.465zm6.006-4.232l2.692 5.888v.217h-1.599l-.341-.752h-2.218l-.339.752h-1.614v-.217l2.714-5.888h.705zm.254 4.032l-.613-1.458-.61 1.458h1.223zm7.94-3.3a2.518 2.518 0 01-.014 3.149c-.374.436-.894.654-1.556.654h-1.07v1.57h-1.543V36.47h2.614c.664 0 1.191.228 1.569.68zm-.932 1.548a1.086 1.086 0 00-.167-.6.528.528 0 00-.471-.252h-1.093v1.73h1.093a.556.556 0 00.461-.264 1.1 1.1 0 00.177-.615v.001zm2.515-.835h1.451v4.661h1.495v-4.66h1.451v-1.381h-4.397v1.38zm8.129-1.443l2.688 5.887v.217h-1.596l-.349-.752h-2.212l-.342.752h-1.613v-.217l2.716-5.887h.708zm.258 4.031l-.621-1.458-.603 1.457 1.224.001zm4.364.157c-.036.331-.102.55-.209.65-.106.1-.321.13-.646.1l-.026 1.13c.444.098.903.106 1.35.023a1.134 1.134 0 00.75-.545c.161-.285.267-.72.318-1.306l.23-2.77h1.284v4.634h1.54v-6.043h-4.18l-.411 4.127zm10.409-8.326V46.66H91.439V32.28l70.653.001zm-1.803 1.792h-51.188v10.794h51.188V34.074zm-59.555 8.891h1.755v-3.79h-.793l1.533-2.33 1.533 2.33h-.79v1.95a2.262 2.262 0 001.66-.764 2.732 2.732 0 00.66-1.826 2.76 2.76 0 00-.647-1.87c-.444-.526-1.06-.793-1.844-.793h-3.067v7.093zm-6.485-2.33c0 .757.273 1.353.83 1.787a3.396 3.396 0 003.987 0 2.173 2.173 0 00.822-1.787V35.88h-1.802v4.708a.716.716 0 01-.297.629 1.175 1.175 0 01-.704.213 1.224 1.224 0 01-.718-.213.721.721 0 01-.288-.63V35.88h-1.83v4.756z"/><path d="M0 .342V41.26h87.832v-3.583H3.607V3.924h172.786v33.753h-10.694v3.583H180V.342H0z"/><path d="M29.372 13.948v13.706h-3.607V17.175h-4.258V27.65h-3.609V13.949h11.474zM35.467 22.858l-4.752-8.459v-.45h3.963l2.622 5.267h.118l2.327-5.268h3.824v.374L38.58 24.426c-1.379 3.131-3.017 4.307-6.84 2.897l.472-2.526c1.302.47 2.11.489 2.78-.96l.474-.98zM44.793 13.948h3.608v10.476h3.332V13.948h3.607v10.476h3.331V13.948h3.609v13.706H44.793V13.948zM70.171 22.368c-.57.05-1.142.07-1.715.06v5.227h-3.608V13.949h3.608v5.367c.575 0 1.519.039 2.011-.215.63-.314.848-1.142 1.242-2.78.393-1.64 1.755-3.015 4.987-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.602 4.092 3.943 6.135v.529h-4.08l-3.018-5.294zM79.805 27.695H78.74V13.95h3.607v6.696l7.196-6.75h1.125V27.66h-3.615v-7.074l-7.248 7.11zM101.105 27.654V22.17h-4.284v5.482H93.22V13.948h3.603v4.955h4.277V13.95h3.608v13.705h-3.602zM113.574 13.81c2.839 0 5.955 1.529 6.487 5.19h-3.47c-.493-1.41-1.539-1.958-3.017-1.958-2.089 0-3.447 1.488-3.447 3.76 0 1.977 1.34 3.719 3.447 3.719 1.498 0 2.682-.685 3.057-2.173h3.469c-.533 3.896-3.591 5.442-6.526 5.442-3.528 0-7.057-2.35-7.057-6.969 0-4.719 3.529-7.01 7.057-7.01zM127.13 22.368a15.66 15.66 0 01-1.715.06v5.227h-3.613V13.949h3.604v5.367c.575 0 1.518.039 2.011-.215.631-.314.848-1.142 1.241-2.78.394-1.64 1.756-3.015 4.988-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.601 4.092 3.943 6.135v.529h-4.073l-3.016-5.294zM136.754 27.695h-1.063V13.95h3.609v6.696l7.196-6.75h1.124V27.66h-3.608v-7.074l-7.258 7.11zM151.238 27.696h-1.064V13.95h3.608v6.697l7.196-6.751h1.123V27.66h-3.607v-7.073l-7.256 7.109zm2.208-17.66c.061 2.094 1.243 3.19 3.273 3.19 2.09 0 3.233-1.096 3.312-3.19-.651-.08-1.281-.158-1.951-.198-.119.784-.612 1.039-1.4 1.039-.789 0-1.241-.352-1.282-1.039l-1.952.197z"/></g></svg>
                                .main-slider__text 
                                    p Cвоя квартира в сданном доме (первом корпусе) за 20%! Cвоя квартира в сданном доме.
                                a(href="#").linc-icon.main-slider__button
                                    | Узнать больше
                                    .linc-icon__icon
                                        svg(width="20" height="20")
                                            use(xlink:href="./assets/images/sprite.svg#arrow")
                                svg(width="84" height="450").main-slider__content-right
                                    use(xlink:href="./assets/images/sprite.svg#slider-arrow")
                            .main-slider__img
                                img(src="./assets/images/img-01.jpg" alt="Cвоя квартира в сданном доме (первом корпусе) за 20%!")

                .main-slider__controls
                    .main-slider__button-wrap
                        .main-slider__pagination
                        button.main-slider__button-next
                            svg(width="18" height="14")
                                use(xlink:href="./assets/images/sprite.svg#arrow-full")
                        button.main-slider__button-prev
                            svg(width="18" height="14")
                                use(xlink:href="./assets/images/sprite.svg#arrow-full")

        // ГК ФСК
        .cont-block__wrap.cont-block_m70
            .cont-block
                h2.cont-block__h ГК ФСК

                .main-utp
                    ul.main-utp__list 
                        li.main-utp__item
                            .main-utp__h Toп-10 
                                span.color-main-text Forbes
                            .main-utp__text в рейтинге самых надежных <br>застройщиков страны
                        li.main-utp__item
                            .main-utp__h 15
                            .main-utp__text лет работы на рынке <br>недвижимости
                        li.main-utp__item
                            .main-utp__h >10
                            .main-utp__text млн м² совокупный <br>объем проектов за 15 лет
                        li.main-utp__item
                            .main-utp__h 22
                            .main-utp__text проекта в стадии <br>реализации
                        li.main-utp__item
                            .main-utp__h 775
                            .main-utp__text тыс. м² введено <br>в эксплуатацию в 2020 году

        // Проекты в продаже
        .cont-block__wrap.cont-block_m70
            .cont-block
                h2.cont-block__h Проекты в продаже

                ul.card-main 
                    li.card-main__item
                        a(href="#").card-main__linc
                            .card-main__img-wrap
                                img(src="./assets/images/img-01.jpg" alt="Best Western Space Hotel").card-main__img
                                .card-main__income Доход до 75 000 ₽./мес
                                <svg width="180" height="47" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-main__logo"><g fill="var(--color-main-text, #ffffff)"><path d="M116.679 39.587l1.691 2.699v.233h-1.754l-1.293-2.33c-.244.022-.489.03-.734.026v2.304h-1.546V36.48h1.546v2.364c.46 0 .743-.031.862-.094a.617.617 0 00.287-.353c.103-.285.187-.578.252-.874a1.42 1.42 0 01.659-.932c.344-.21.835-.246 1.475-.105v1.063c-.399-.026-.639.117-.718.428-.204.758-.447 1.294-.727 1.609zm7.808.297c.129.234.195.498.192.766.016.488-.162.962-.496 1.32-.33.347-.791.517-1.381.517h-2.852v-6.033h2.607a1.862 1.862 0 011.351.506 1.824 1.824 0 01.52 1.35 1.376 1.376 0 01-.133.57 1.34 1.34 0 01-.356.473c.235.115.426.3.548.53zm-2.988-1.05h.955a.4.4 0 00.329-.143.536.536 0 00.126-.335.577.577 0 00-.109-.377.418.418 0 00-.346-.16h-.955v1.014zm1.65 1.816a.498.498 0 00-.273-.496.43.43 0 00-.194-.038h-1.183v.999h1.195c.273 0 .416-.153.455-.465zm6.006-4.232l2.692 5.888v.217h-1.599l-.341-.752h-2.218l-.339.752h-1.614v-.217l2.714-5.888h.705zm.254 4.032l-.613-1.458-.61 1.458h1.223zm7.94-3.3a2.518 2.518 0 01-.014 3.149c-.374.436-.894.654-1.556.654h-1.07v1.57h-1.543V36.47h2.614c.664 0 1.191.228 1.569.68zm-.932 1.548a1.086 1.086 0 00-.167-.6.528.528 0 00-.471-.252h-1.093v1.73h1.093a.556.556 0 00.461-.264 1.1 1.1 0 00.177-.615v.001zm2.515-.835h1.451v4.661h1.495v-4.66h1.451v-1.381h-4.397v1.38zm8.129-1.443l2.688 5.887v.217h-1.596l-.349-.752h-2.212l-.342.752h-1.613v-.217l2.716-5.887h.708zm.258 4.031l-.621-1.458-.603 1.457 1.224.001zm4.364.157c-.036.331-.102.55-.209.65-.106.1-.321.13-.646.1l-.026 1.13c.444.098.903.106 1.35.023a1.134 1.134 0 00.75-.545c.161-.285.267-.72.318-1.306l.23-2.77h1.284v4.634h1.54v-6.043h-4.18l-.411 4.127zm10.409-8.326V46.66H91.439V32.28l70.653.001zm-1.803 1.792h-51.188v10.794h51.188V34.074zm-59.555 8.891h1.755v-3.79h-.793l1.533-2.33 1.533 2.33h-.79v1.95a2.262 2.262 0 001.66-.764 2.732 2.732 0 00.66-1.826 2.76 2.76 0 00-.647-1.87c-.444-.526-1.06-.793-1.844-.793h-3.067v7.093zm-6.485-2.33c0 .757.273 1.353.83 1.787a3.396 3.396 0 003.987 0 2.173 2.173 0 00.822-1.787V35.88h-1.802v4.708a.716.716 0 01-.297.629 1.175 1.175 0 01-.704.213 1.224 1.224 0 01-.718-.213.721.721 0 01-.288-.63V35.88h-1.83v4.756z"/><path d="M0 .342V41.26h87.832v-3.583H3.607V3.924h172.786v33.753h-10.694v3.583H180V.342H0z"/><path d="M29.372 13.948v13.706h-3.607V17.175h-4.258V27.65h-3.609V13.949h11.474zM35.467 22.858l-4.752-8.459v-.45h3.963l2.622 5.267h.118l2.327-5.268h3.824v.374L38.58 24.426c-1.379 3.131-3.017 4.307-6.84 2.897l.472-2.526c1.302.47 2.11.489 2.78-.96l.474-.98zM44.793 13.948h3.608v10.476h3.332V13.948h3.607v10.476h3.331V13.948h3.609v13.706H44.793V13.948zM70.171 22.368c-.57.05-1.142.07-1.715.06v5.227h-3.608V13.949h3.608v5.367c.575 0 1.519.039 2.011-.215.63-.314.848-1.142 1.242-2.78.393-1.64 1.755-3.015 4.987-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.602 4.092 3.943 6.135v.529h-4.08l-3.018-5.294zM79.805 27.695H78.74V13.95h3.607v6.696l7.196-6.75h1.125V27.66h-3.615v-7.074l-7.248 7.11zM101.105 27.654V22.17h-4.284v5.482H93.22V13.948h3.603v4.955h4.277V13.95h3.608v13.705h-3.602zM113.574 13.81c2.839 0 5.955 1.529 6.487 5.19h-3.47c-.493-1.41-1.539-1.958-3.017-1.958-2.089 0-3.447 1.488-3.447 3.76 0 1.977 1.34 3.719 3.447 3.719 1.498 0 2.682-.685 3.057-2.173h3.469c-.533 3.896-3.591 5.442-6.526 5.442-3.528 0-7.057-2.35-7.057-6.969 0-4.719 3.529-7.01 7.057-7.01zM127.13 22.368a15.66 15.66 0 01-1.715.06v5.227h-3.613V13.949h3.604v5.367c.575 0 1.518.039 2.011-.215.631-.314.848-1.142 1.241-2.78.394-1.64 1.756-3.015 4.988-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.601 4.092 3.943 6.135v.529h-4.073l-3.016-5.294zM136.754 27.695h-1.063V13.95h3.609v6.696l7.196-6.75h1.124V27.66h-3.608v-7.074l-7.258 7.11zM151.238 27.696h-1.064V13.95h3.608v6.697l7.196-6.751h1.123V27.66h-3.607v-7.073l-7.256 7.109zm2.208-17.66c.061 2.094 1.243 3.19 3.273 3.19 2.09 0 3.233-1.096 3.312-3.19-.651-.08-1.281-.158-1.951-.198-.119.784-.612 1.039-1.4 1.039-.789 0-1.241-.352-1.282-1.039l-1.952.197z"/></g></svg>

                            .card-main__body
                                h4.card-main__h Best Western Zoom Hotel
                                .card-main__info 
                                    .card-main__metro 
                                        svg(width="20" height="20").metro-color_2
                                            use(xlink:href="./assets/images/sprite.svg#metro")
                                        | Черная речка

                                    .card-main__time
                                        svg(width="15" height="15")
                                            use(xlink:href="./assets/images/sprite.svg#little-man")
                                        | 15 минут

                                    .card-main__prise от 6.9 млн ₽

                    li.card-main__item
                        a(href="#").card-main__linc
                            .card-main__img-wrap
                                img(src="./assets/images/img-02.jpg" alt="Best Western Space Hotel").card-main__img
                                .card-main__income Доход до 75 000 ₽./мес
                                <svg width="180" height="47" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-main__logo"><g fill="var(--color-main-text, #ffffff)"><path d="M116.679 39.587l1.691 2.699v.233h-1.754l-1.293-2.33c-.244.022-.489.03-.734.026v2.304h-1.546V36.48h1.546v2.364c.46 0 .743-.031.862-.094a.617.617 0 00.287-.353c.103-.285.187-.578.252-.874a1.42 1.42 0 01.659-.932c.344-.21.835-.246 1.475-.105v1.063c-.399-.026-.639.117-.718.428-.204.758-.447 1.294-.727 1.609zm7.808.297c.129.234.195.498.192.766.016.488-.162.962-.496 1.32-.33.347-.791.517-1.381.517h-2.852v-6.033h2.607a1.862 1.862 0 011.351.506 1.824 1.824 0 01.52 1.35 1.376 1.376 0 01-.133.57 1.34 1.34 0 01-.356.473c.235.115.426.3.548.53zm-2.988-1.05h.955a.4.4 0 00.329-.143.536.536 0 00.126-.335.577.577 0 00-.109-.377.418.418 0 00-.346-.16h-.955v1.014zm1.65 1.816a.498.498 0 00-.273-.496.43.43 0 00-.194-.038h-1.183v.999h1.195c.273 0 .416-.153.455-.465zm6.006-4.232l2.692 5.888v.217h-1.599l-.341-.752h-2.218l-.339.752h-1.614v-.217l2.714-5.888h.705zm.254 4.032l-.613-1.458-.61 1.458h1.223zm7.94-3.3a2.518 2.518 0 01-.014 3.149c-.374.436-.894.654-1.556.654h-1.07v1.57h-1.543V36.47h2.614c.664 0 1.191.228 1.569.68zm-.932 1.548a1.086 1.086 0 00-.167-.6.528.528 0 00-.471-.252h-1.093v1.73h1.093a.556.556 0 00.461-.264 1.1 1.1 0 00.177-.615v.001zm2.515-.835h1.451v4.661h1.495v-4.66h1.451v-1.381h-4.397v1.38zm8.129-1.443l2.688 5.887v.217h-1.596l-.349-.752h-2.212l-.342.752h-1.613v-.217l2.716-5.887h.708zm.258 4.031l-.621-1.458-.603 1.457 1.224.001zm4.364.157c-.036.331-.102.55-.209.65-.106.1-.321.13-.646.1l-.026 1.13c.444.098.903.106 1.35.023a1.134 1.134 0 00.75-.545c.161-.285.267-.72.318-1.306l.23-2.77h1.284v4.634h1.54v-6.043h-4.18l-.411 4.127zm10.409-8.326V46.66H91.439V32.28l70.653.001zm-1.803 1.792h-51.188v10.794h51.188V34.074zm-59.555 8.891h1.755v-3.79h-.793l1.533-2.33 1.533 2.33h-.79v1.95a2.262 2.262 0 001.66-.764 2.732 2.732 0 00.66-1.826 2.76 2.76 0 00-.647-1.87c-.444-.526-1.06-.793-1.844-.793h-3.067v7.093zm-6.485-2.33c0 .757.273 1.353.83 1.787a3.396 3.396 0 003.987 0 2.173 2.173 0 00.822-1.787V35.88h-1.802v4.708a.716.716 0 01-.297.629 1.175 1.175 0 01-.704.213 1.224 1.224 0 01-.718-.213.721.721 0 01-.288-.63V35.88h-1.83v4.756z"/><path d="M0 .342V41.26h87.832v-3.583H3.607V3.924h172.786v33.753h-10.694v3.583H180V.342H0z"/><path d="M29.372 13.948v13.706h-3.607V17.175h-4.258V27.65h-3.609V13.949h11.474zM35.467 22.858l-4.752-8.459v-.45h3.963l2.622 5.267h.118l2.327-5.268h3.824v.374L38.58 24.426c-1.379 3.131-3.017 4.307-6.84 2.897l.472-2.526c1.302.47 2.11.489 2.78-.96l.474-.98zM44.793 13.948h3.608v10.476h3.332V13.948h3.607v10.476h3.331V13.948h3.609v13.706H44.793V13.948zM70.171 22.368c-.57.05-1.142.07-1.715.06v5.227h-3.608V13.949h3.608v5.367c.575 0 1.519.039 2.011-.215.63-.314.848-1.142 1.242-2.78.393-1.64 1.755-3.015 4.987-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.602 4.092 3.943 6.135v.529h-4.08l-3.018-5.294zM79.805 27.695H78.74V13.95h3.607v6.696l7.196-6.75h1.125V27.66h-3.615v-7.074l-7.248 7.11zM101.105 27.654V22.17h-4.284v5.482H93.22V13.948h3.603v4.955h4.277V13.95h3.608v13.705h-3.602zM113.574 13.81c2.839 0 5.955 1.529 6.487 5.19h-3.47c-.493-1.41-1.539-1.958-3.017-1.958-2.089 0-3.447 1.488-3.447 3.76 0 1.977 1.34 3.719 3.447 3.719 1.498 0 2.682-.685 3.057-2.173h3.469c-.533 3.896-3.591 5.442-6.526 5.442-3.528 0-7.057-2.35-7.057-6.969 0-4.719 3.529-7.01 7.057-7.01zM127.13 22.368a15.66 15.66 0 01-1.715.06v5.227h-3.613V13.949h3.604v5.367c.575 0 1.518.039 2.011-.215.631-.314.848-1.142 1.241-2.78.394-1.64 1.756-3.015 4.988-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.601 4.092 3.943 6.135v.529h-4.073l-3.016-5.294zM136.754 27.695h-1.063V13.95h3.609v6.696l7.196-6.75h1.124V27.66h-3.608v-7.074l-7.258 7.11zM151.238 27.696h-1.064V13.95h3.608v6.697l7.196-6.751h1.123V27.66h-3.607v-7.073l-7.256 7.109zm2.208-17.66c.061 2.094 1.243 3.19 3.273 3.19 2.09 0 3.233-1.096 3.312-3.19-.651-.08-1.281-.158-1.951-.198-.119.784-.612 1.039-1.4 1.039-.789 0-1.241-.352-1.282-1.039l-1.952.197z"/></g></svg>

                            .card-main__body
                                h4.card-main__h Best Western Space Hotel
                                .card-main__info 
                                    .card-main__metro 
                                        svg(width="20" height="20").metro-color_1
                                            use(xlink:href="./assets/images/sprite.svg#metro")
                                        | Черная речка

                                    .card-main__time
                                        svg(width="15" height="15")
                                            use(xlink:href="./assets/images/sprite.svg#little-man")
                                        | 15 минут

                                    .card-main__prise от 6.9 млн ₽

                    li.card-main__item
                        a(href="#").card-main__linc
                            .card-main__img-wrap
                                img(src="./assets/images/img-01.jpg" alt="Best Western Space Hotel").card-main__img
                                .card-main__income Доход до 75 000 ₽./мес
                                <svg width="180" height="47" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-main__logo"><g fill="var(--color-main-text, #ffffff)"><path d="M116.679 39.587l1.691 2.699v.233h-1.754l-1.293-2.33c-.244.022-.489.03-.734.026v2.304h-1.546V36.48h1.546v2.364c.46 0 .743-.031.862-.094a.617.617 0 00.287-.353c.103-.285.187-.578.252-.874a1.42 1.42 0 01.659-.932c.344-.21.835-.246 1.475-.105v1.063c-.399-.026-.639.117-.718.428-.204.758-.447 1.294-.727 1.609zm7.808.297c.129.234.195.498.192.766.016.488-.162.962-.496 1.32-.33.347-.791.517-1.381.517h-2.852v-6.033h2.607a1.862 1.862 0 011.351.506 1.824 1.824 0 01.52 1.35 1.376 1.376 0 01-.133.57 1.34 1.34 0 01-.356.473c.235.115.426.3.548.53zm-2.988-1.05h.955a.4.4 0 00.329-.143.536.536 0 00.126-.335.577.577 0 00-.109-.377.418.418 0 00-.346-.16h-.955v1.014zm1.65 1.816a.498.498 0 00-.273-.496.43.43 0 00-.194-.038h-1.183v.999h1.195c.273 0 .416-.153.455-.465zm6.006-4.232l2.692 5.888v.217h-1.599l-.341-.752h-2.218l-.339.752h-1.614v-.217l2.714-5.888h.705zm.254 4.032l-.613-1.458-.61 1.458h1.223zm7.94-3.3a2.518 2.518 0 01-.014 3.149c-.374.436-.894.654-1.556.654h-1.07v1.57h-1.543V36.47h2.614c.664 0 1.191.228 1.569.68zm-.932 1.548a1.086 1.086 0 00-.167-.6.528.528 0 00-.471-.252h-1.093v1.73h1.093a.556.556 0 00.461-.264 1.1 1.1 0 00.177-.615v.001zm2.515-.835h1.451v4.661h1.495v-4.66h1.451v-1.381h-4.397v1.38zm8.129-1.443l2.688 5.887v.217h-1.596l-.349-.752h-2.212l-.342.752h-1.613v-.217l2.716-5.887h.708zm.258 4.031l-.621-1.458-.603 1.457 1.224.001zm4.364.157c-.036.331-.102.55-.209.65-.106.1-.321.13-.646.1l-.026 1.13c.444.098.903.106 1.35.023a1.134 1.134 0 00.75-.545c.161-.285.267-.72.318-1.306l.23-2.77h1.284v4.634h1.54v-6.043h-4.18l-.411 4.127zm10.409-8.326V46.66H91.439V32.28l70.653.001zm-1.803 1.792h-51.188v10.794h51.188V34.074zm-59.555 8.891h1.755v-3.79h-.793l1.533-2.33 1.533 2.33h-.79v1.95a2.262 2.262 0 001.66-.764 2.732 2.732 0 00.66-1.826 2.76 2.76 0 00-.647-1.87c-.444-.526-1.06-.793-1.844-.793h-3.067v7.093zm-6.485-2.33c0 .757.273 1.353.83 1.787a3.396 3.396 0 003.987 0 2.173 2.173 0 00.822-1.787V35.88h-1.802v4.708a.716.716 0 01-.297.629 1.175 1.175 0 01-.704.213 1.224 1.224 0 01-.718-.213.721.721 0 01-.288-.63V35.88h-1.83v4.756z"/><path d="M0 .342V41.26h87.832v-3.583H3.607V3.924h172.786v33.753h-10.694v3.583H180V.342H0z"/><path d="M29.372 13.948v13.706h-3.607V17.175h-4.258V27.65h-3.609V13.949h11.474zM35.467 22.858l-4.752-8.459v-.45h3.963l2.622 5.267h.118l2.327-5.268h3.824v.374L38.58 24.426c-1.379 3.131-3.017 4.307-6.84 2.897l.472-2.526c1.302.47 2.11.489 2.78-.96l.474-.98zM44.793 13.948h3.608v10.476h3.332V13.948h3.607v10.476h3.331V13.948h3.609v13.706H44.793V13.948zM70.171 22.368c-.57.05-1.142.07-1.715.06v5.227h-3.608V13.949h3.608v5.367c.575 0 1.519.039 2.011-.215.63-.314.848-1.142 1.242-2.78.393-1.64 1.755-3.015 4.987-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.602 4.092 3.943 6.135v.529h-4.08l-3.018-5.294zM79.805 27.695H78.74V13.95h3.607v6.696l7.196-6.75h1.125V27.66h-3.615v-7.074l-7.248 7.11zM101.105 27.654V22.17h-4.284v5.482H93.22V13.948h3.603v4.955h4.277V13.95h3.608v13.705h-3.602zM113.574 13.81c2.839 0 5.955 1.529 6.487 5.19h-3.47c-.493-1.41-1.539-1.958-3.017-1.958-2.089 0-3.447 1.488-3.447 3.76 0 1.977 1.34 3.719 3.447 3.719 1.498 0 2.682-.685 3.057-2.173h3.469c-.533 3.896-3.591 5.442-6.526 5.442-3.528 0-7.057-2.35-7.057-6.969 0-4.719 3.529-7.01 7.057-7.01zM127.13 22.368a15.66 15.66 0 01-1.715.06v5.227h-3.613V13.949h3.604v5.367c.575 0 1.518.039 2.011-.215.631-.314.848-1.142 1.241-2.78.394-1.64 1.756-3.015 4.988-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.601 4.092 3.943 6.135v.529h-4.073l-3.016-5.294zM136.754 27.695h-1.063V13.95h3.609v6.696l7.196-6.75h1.124V27.66h-3.608v-7.074l-7.258 7.11zM151.238 27.696h-1.064V13.95h3.608v6.697l7.196-6.751h1.123V27.66h-3.607v-7.073l-7.256 7.109zm2.208-17.66c.061 2.094 1.243 3.19 3.273 3.19 2.09 0 3.233-1.096 3.312-3.19-.651-.08-1.281-.158-1.951-.198-.119.784-.612 1.039-1.4 1.039-.789 0-1.241-.352-1.282-1.039l-1.952.197z"/></g></svg>

                            .card-main__body
                                h4.card-main__h Best Western Space Hotel
                                .card-main__info 
                                    .card-main__metro 
                                        svg(width="20" height="20").metro-color_5
                                            use(xlink:href="./assets/images/sprite.svg#metro")
                                        | Черная речка

                                    .card-main__time
                                        svg(width="15" height="15")
                                            use(xlink:href="./assets/images/sprite.svg#little-man")
                                        | 15 минут

                                    .card-main__prise от 6.9 млн ₽

                    li.card-main__item
                        a(href="#").card-main__linc
                            .card-main__img-wrap
                                img(src="./assets/images/img-02.jpg" alt="Best Western Space Hotel").card-main__img
                                .card-main__income Доход до 75 000 ₽./мес
                                <svg width="180" height="47" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-main__logo"><g fill="var(--color-main-text, #ffffff)"><path d="M116.679 39.587l1.691 2.699v.233h-1.754l-1.293-2.33c-.244.022-.489.03-.734.026v2.304h-1.546V36.48h1.546v2.364c.46 0 .743-.031.862-.094a.617.617 0 00.287-.353c.103-.285.187-.578.252-.874a1.42 1.42 0 01.659-.932c.344-.21.835-.246 1.475-.105v1.063c-.399-.026-.639.117-.718.428-.204.758-.447 1.294-.727 1.609zm7.808.297c.129.234.195.498.192.766.016.488-.162.962-.496 1.32-.33.347-.791.517-1.381.517h-2.852v-6.033h2.607a1.862 1.862 0 011.351.506 1.824 1.824 0 01.52 1.35 1.376 1.376 0 01-.133.57 1.34 1.34 0 01-.356.473c.235.115.426.3.548.53zm-2.988-1.05h.955a.4.4 0 00.329-.143.536.536 0 00.126-.335.577.577 0 00-.109-.377.418.418 0 00-.346-.16h-.955v1.014zm1.65 1.816a.498.498 0 00-.273-.496.43.43 0 00-.194-.038h-1.183v.999h1.195c.273 0 .416-.153.455-.465zm6.006-4.232l2.692 5.888v.217h-1.599l-.341-.752h-2.218l-.339.752h-1.614v-.217l2.714-5.888h.705zm.254 4.032l-.613-1.458-.61 1.458h1.223zm7.94-3.3a2.518 2.518 0 01-.014 3.149c-.374.436-.894.654-1.556.654h-1.07v1.57h-1.543V36.47h2.614c.664 0 1.191.228 1.569.68zm-.932 1.548a1.086 1.086 0 00-.167-.6.528.528 0 00-.471-.252h-1.093v1.73h1.093a.556.556 0 00.461-.264 1.1 1.1 0 00.177-.615v.001zm2.515-.835h1.451v4.661h1.495v-4.66h1.451v-1.381h-4.397v1.38zm8.129-1.443l2.688 5.887v.217h-1.596l-.349-.752h-2.212l-.342.752h-1.613v-.217l2.716-5.887h.708zm.258 4.031l-.621-1.458-.603 1.457 1.224.001zm4.364.157c-.036.331-.102.55-.209.65-.106.1-.321.13-.646.1l-.026 1.13c.444.098.903.106 1.35.023a1.134 1.134 0 00.75-.545c.161-.285.267-.72.318-1.306l.23-2.77h1.284v4.634h1.54v-6.043h-4.18l-.411 4.127zm10.409-8.326V46.66H91.439V32.28l70.653.001zm-1.803 1.792h-51.188v10.794h51.188V34.074zm-59.555 8.891h1.755v-3.79h-.793l1.533-2.33 1.533 2.33h-.79v1.95a2.262 2.262 0 001.66-.764 2.732 2.732 0 00.66-1.826 2.76 2.76 0 00-.647-1.87c-.444-.526-1.06-.793-1.844-.793h-3.067v7.093zm-6.485-2.33c0 .757.273 1.353.83 1.787a3.396 3.396 0 003.987 0 2.173 2.173 0 00.822-1.787V35.88h-1.802v4.708a.716.716 0 01-.297.629 1.175 1.175 0 01-.704.213 1.224 1.224 0 01-.718-.213.721.721 0 01-.288-.63V35.88h-1.83v4.756z"/><path d="M0 .342V41.26h87.832v-3.583H3.607V3.924h172.786v33.753h-10.694v3.583H180V.342H0z"/><path d="M29.372 13.948v13.706h-3.607V17.175h-4.258V27.65h-3.609V13.949h11.474zM35.467 22.858l-4.752-8.459v-.45h3.963l2.622 5.267h.118l2.327-5.268h3.824v.374L38.58 24.426c-1.379 3.131-3.017 4.307-6.84 2.897l.472-2.526c1.302.47 2.11.489 2.78-.96l.474-.98zM44.793 13.948h3.608v10.476h3.332V13.948h3.607v10.476h3.331V13.948h3.609v13.706H44.793V13.948zM70.171 22.368c-.57.05-1.142.07-1.715.06v5.227h-3.608V13.949h3.608v5.367c.575 0 1.519.039 2.011-.215.63-.314.848-1.142 1.242-2.78.393-1.64 1.755-3.015 4.987-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.602 4.092 3.943 6.135v.529h-4.08l-3.018-5.294zM79.805 27.695H78.74V13.95h3.607v6.696l7.196-6.75h1.125V27.66h-3.615v-7.074l-7.248 7.11zM101.105 27.654V22.17h-4.284v5.482H93.22V13.948h3.603v4.955h4.277V13.95h3.608v13.705h-3.602zM113.574 13.81c2.839 0 5.955 1.529 6.487 5.19h-3.47c-.493-1.41-1.539-1.958-3.017-1.958-2.089 0-3.447 1.488-3.447 3.76 0 1.977 1.34 3.719 3.447 3.719 1.498 0 2.682-.685 3.057-2.173h3.469c-.533 3.896-3.591 5.442-6.526 5.442-3.528 0-7.057-2.35-7.057-6.969 0-4.719 3.529-7.01 7.057-7.01zM127.13 22.368a15.66 15.66 0 01-1.715.06v5.227h-3.613V13.949h3.604v5.367c.575 0 1.518.039 2.011-.215.631-.314.848-1.142 1.241-2.78.394-1.64 1.756-3.015 4.988-2.35v2.406c-.862-.058-1.458.143-1.675.979-.454 1.645-.927 2.8-1.695 3.642 1.32 2.036 2.601 4.092 3.943 6.135v.529h-4.073l-3.016-5.294zM136.754 27.695h-1.063V13.95h3.609v6.696l7.196-6.75h1.124V27.66h-3.608v-7.074l-7.258 7.11zM151.238 27.696h-1.064V13.95h3.608v6.697l7.196-6.751h1.123V27.66h-3.607v-7.073l-7.256 7.109zm2.208-17.66c.061 2.094 1.243 3.19 3.273 3.19 2.09 0 3.233-1.096 3.312-3.19-.651-.08-1.281-.158-1.951-.198-.119.784-.612 1.039-1.4 1.039-.789 0-1.241-.352-1.282-1.039l-1.952.197z"/></g></svg>

                            .card-main__body
                                h4.card-main__h Best Western Space Hotel
                                .card-main__info 
                                    .card-main__metro 
                                        svg(width="20" height="20").metro-color_3
                                            use(xlink:href="./assets/images/sprite.svg#metro")
                                        | Черная речка

                                    .card-main__time
                                        svg(width="15" height="15")
                                            use(xlink:href="./assets/images/sprite.svg#little-man")
                                        | 15 минут

                                    .card-main__prise от 6.9 млн ₽

        // Проекты в продаже
        .cont-block__wrap.narrow-banner__wrap.cont-block_mb70
            .cont-block.narrow-banner
                .narrow-banner__body
                    h2.narrow-banner__h Бронируйте и покупайте 
                        span.color-main онлайн
                    .narrow-banner__text 
                        p ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст
                    .narrow-banner__angle
                        svg(width="84" height="450")
                            use(xlink:href="./assets/images/sprite.svg#slider-arrow")
                .narrow-banner__img