extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = false

block content
    main
        .cont-block__wrap 
            .cont-block.cont-block_m70
                ul(style="display: grid; grid-row-gap: 12px; font-weight: 300; font-size: 18px;")
                    li 
                        a(href="main.html") Главная 
                    li 
                        a(href="okorp.html") О компании
                    li 
                        a(href="klient.html") Клиентский сервис
                    li 
                        a(href="docs.html") Документация
                    li 
                        a(href="akcii.html") Акции и скидки
                    li 
                        a(href="press.html") Пресс-центр