extends ../template

block variables
    - var title = 'Пресс-центр'
    - var contactForm = false

block content
    main
        .cont-block__wrap 
            .cont-block.cont-block_m30
                h1.cont-block__h1 Пресс-центр
                ul.bread-cru 
                    li.bread-cru__item 
                        a(href="#").bread-cru__link Главная
                    li.bread-cru__item 
                        .bread-cru__link Пресс-центр

        .cont-block__wrap
            .cont-block.cont-block_mb70
                ul.press-card
                    li.press-card__item 
                        a(href="#").press-card__link
                            .press-card__img
                                img(src="./assets/images/img-01.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .press-card__body
                                .press-card__date 24 сентября 2020
                                h4.press-card__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                p.press-card__text Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...
                                p.press-card__text Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...
                    li.press-card__item 
                        a(href="#").press-card__link
                            .press-card__img
                                img(src="./assets/images/img-02.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .press-card__body
                                .press-card__date 24 сентября 2020
                                h4.press-card__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                p.press-card__text Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...
                    li.press-card__item 
                        a(href="#").press-card__link
                            .press-card__img
                                img(src="./assets/images/img-01.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .press-card__body
                                .press-card__date 24 сентября 2020
                                h4.press-card__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                p.press-card__text Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...
                    li.press-card__item 
                        a(href="#").press-card__link
                            .press-card__img
                                img(src="./assets/images/img-02.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .press-card__body
                                .press-card__date 24 сентября 2020
                                h4.press-card__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                p.press-card__text Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...



