@mixin udoli {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

$content-max-weight: 1200px;
$content-padding: 20px;

.not-found__wrap {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url("../images/404.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		z-index: 1;
	}
}

body.dark {
	.not-found__wrap::after {
		background: rgba(32, 32, 32, 0.9);
	}
}

.not-found {
	@include center();
	z-index: 2;
	height: calc(100% - 40px);
	max-height: 720px;
	width: calc(100% - 40px);
	max-width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.not-found__logo {
	width: 150px;
	height: auto;
	margin-bottom: -15px;
}

.not-found__404 {
	--icon-color: var(--color-dop-text);
	width: 100%;
	height: auto;
}

.not-found__button-warap {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
}

@media screen and (max-height: 440px) {
	.not-found__404 {
		max-width: 240px;
		height: auto;
	}
}

@media screen and (max-width: 440px) {
	.not-found__button-warap {
		grid-template-columns: 1fr;
	}
}
