// Размеры
$content-max-weight: 1200px;
$content-padding: 20px;

// Шрифт
$font-primary: "MuseoSansCyrl", sans-serif;

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	appearance: none;
	font-family: $font-primary;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}
body.dark {
	// --color-main: #E94200;
	// --color-dop: #727272;
	--color-main-back: #202021;
	--color-dop-back: #2d2b2e;
	--color-border: #3d3d3d;
	--color-main-text: #ffffff;
	--color-dop-text: #727272;
	// --color-cta: #80B918;
	// --color-error: #EB001B;
	// --color-alert: #FFDD2D;

	svg[data-logo] {
		--icon-color-text: var(--color-main-text);
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-primary;
	font-style: normal;
	font-weight: 500;
	background-color: var(--color-main-back);
	color: var(--color-main-text);
}

a {
	color: var(--color-main-text);
	transition: color 100ms ease-in-out 0ms;

	&:hover {
		color: var(--color-main);
	}
}

p {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

// cont-block
.cont-block__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 $content-padding;
}

.cont-block {
	width: 100%;
	max-width: $content-max-weight;

	> *:last-child {
		margin-bottom: 0;
	}
}

.cont-block_m30 {
	margin: 30px 0;
}

.cont-block_mb30 {
	margin: 0 0 30px;
}

.cont-block_m50 {
	margin: 50px 0;
}

.cont-block_mb50 {
	margin: 0 0 50px;
}

.cont-block_m70 {
	margin: 70px 0;
}

.cont-block_mb70 {
	margin: 0 0 70px;
}

.cont-block__h1 {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: var(--color-main-text);
	margin: 0 0 4px;
}

.cont-block__h {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: var(--color-main-text);
	margin: 0 0 24px;
}

.cont-block__button-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 24px;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.cont-block__h {
		font-size: 25px;
		line-height: 30px;
	}

	.cont-block__button-wrap {
		grid-auto-flow: row;
		justify-content: stretch;
	}
}

.head-block__img,
.head-block__logo {
	width: 100%;
	height: 300px;
	border-radius: 5px;
	background-color: var(--color-dop-back);
	background-image: url("../images/fsk_logo-2.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}

.head-block__img {
	background-size: cover;
}

.head-block__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;

	> p {
		margin: 20px 0;
	}
}

@media screen and (max-width: 768px) {
	.head-block__logo {
		width: 100vw;
		margin: 0 0 - $content-padding 24px;
		margin-bottom: 24px;
		border-radius: 0;
	}
}

// head-block-card
.head-block-card {
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px;
}

.head-block-card__item {
	border: 1px solid var(--color-border);
	border-radius: 5px;
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.head-block-card__icon {
	flex-shrink: 0;
	--icon-color: var(--color-main-text);
	display: block;
	margin-right: 16px;
}

.head-block-card__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
}

@media screen and (max-width: 1130px) {
	.head-block-card {
		grid-template-columns: repeat(2, 1fr);
	}

	.head-block-card__item {
		padding: 16px;
	}
}

@media screen and (max-width: 620px) {
	.head-block-card {
		grid-template-columns: 1fr;
	}
}

// bread-cru
.bread-cru__item {
	display: inline-flex;
	align-items: center;

	&::after {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 4px;
		background-color: var(--color-dop-text);
		margin: 0 6px 0 10px;
	}

	&:last-child::after {
		content: none;
	}
}

.bread-cru__link {
	display: inline;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--color-dop-text);
	text-decoration: none;
}

a.bread-cru__link:hover {
	color: var(--color-main-text);
}

// text-list
.text-list {
	display: grid;
	grid-row-gap: 12px;
}

.text-list__item {
	position: relative;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
	padding: 0 0 0 20px;

	&::before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 6px;
		position: absolute;
		top: 9px;
		left: 4px;
		background-color: var(--color-main);
	}
}

// link-icon
.link-icon {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: var(--color-main-text);
}

.link-icon__icon {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid var(--color-main);
	margin-left: 12px;

	> svg {
		@include center();
		display: block;
		--icon-color: var(--color-main-text);
	}
}

// input
.input {
	.input__name,
	.input__error {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}

	.input__name {
		color: var(--color-dop);
		margin-bottom: 6px;
	}

	.input__error {
		color: var(--color-error);
		margin-top: 4px;
		display: none;
	}

	.input__file-text,
	.input__input {
		min-height: 50px;
		width: 100%;
		margin: 0;
		padding: 14px 18px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		border: 1px solid var(--color-border);
		background-color: var(--color-main-back);
		color: var(--color-main-text);
		box-sizing: border-box;
		border-radius: 3px;
		transition: 150ms ease-in-out 0ms;
		transition-property: box-shadow, border-color;

		&::placeholder {
			color: var(--color-dop-text);
		}

		&:hover {
			border-color: var(--color-main-back);
			box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
		}

		&:focus {
			border-color: var(--color-main);
			outline: none;
		}

		&:disabled {
			color: var(--color-dop);
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0009 8.00075L12.0011 6.00056C13.1058 4.89589 13.1058 3.10486 12.0011 2.00019C10.8964 0.895516 9.10541 0.895516 8.00074 2.00019L6.00055 4.00037M8.00074 10.0009L6.00055 12.0011C4.89588 13.1058 3.10485 13.1058 2.00018 12.0011C0.895509 10.8964 0.895509 9.10542 2.00018 8.00075L4.00037 6.00056M9.50088 4.50042L4.50041 9.50089' stroke='%23727272' stroke-width='1.2'/%3E%3C/svg%3E"); // background-image: url("../images/sprite.svg#icon-lock");
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: calc(100% - 14px) center;
			padding-right: 34px;

			&:hover {
				border-color: var(--color-border);
				box-shadow: none;
			}
		}
	}

	select.input__input {
		cursor: pointer;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 4.15789L9 1' stroke='%23E94200' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
		background-size: 10px;
		background-repeat: no-repeat;
		background-position: calc(100% - 14px) center;
		padding-right: 34px;
	}

	&.error {
		.input__input {
			border-color: var(--color-error);
		}

		> .input__error {
			display: block;
		}
	}
}

body.dark {
	.input__input {
		&:hover {
			border-color: var(--color-main);
			box-shadow: none;
		}

		&::placeholder {
			color: var(--color-dop);
		}
	}
}

// button
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 180px;
	min-height: 50px;
	border-radius: 5px;
	padding: 10px 16px;
	color: #ffffff;
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-decoration: none;
	position: relative;
	transition: box-shadow 150ms ease-in-out 0ms;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		color: #ffffff;
		box-shadow: 0px 0px 10px #fc4c02;
	}
	&:active {
		box-shadow: none;
	}

	& > .buttonEffect {
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, 0.25);
		animation: button-active 600ms ease-in-out forwards;
		z-index: 1;
	}

	> svg {
		&:first-child {
			margin-right: 10px;
		}
	}
}

@keyframes button-active {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(50);
		opacity: 0;
	}
}

.button_icon {
	min-width: 200px;
	min-height: 50px;
	border-radius: 3px;
	border: 1px solid var(--color-border);
	background-color: transparent;
	color: var(--color-main-text);
	transition: 150ms ease-in-out 0ms;
	transition-property: box-shadow, border-color;

	&:hover {
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
		border-color: transparent;
		color: var(--color-main-text);
	}
}

.button-icon__icon {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid var(--color-main);
	margin-right: 10px;
	position: relative;

	> svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
		--icon-color: var(--color-main);
		--icon-stroke: 1;
	}
}

body.dark {
	.button_icon:hover {
		box-shadow: none;
		border-color: var(--color-main);
	}
}

.button-next,
.button-prev,
.button-zoom {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: var(--color-main-back);
	opacity: 0.8;
	cursor: pointer;
	transition: opacity 150ms ease-in-out 0ms;

	&:hover {
		opacity: 1;
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}

.button-next {
	transform: rotate(-180deg);
}

body.dark {
	.button-next,
	.button-prev,
	.button-zoom {
		svg {
			--icon-color: var(--color-main-text);
		}
	}
}

.button_ghost {
	color: var(--color-main);
	background-color: transparent;
	border: 1px solid var(--color-main);
	transition: background 150ms ease-in-out 0ms;

	&:hover {
		background-color: var(--color-main);
		color: #ffffff;
		box-shadow: none;
	}
}
.dark {
	.button_ghost {
		color: var(--color-main-text);
	}
}

// // //
.color-main {
	color: var(--color-main);
}

.color-main-text {
	color: var(--color-main-text);
}

@import "./common/header.scss";
@import "./common/main-slider.scss";
@import "./common/main-utp.scss";
@import "./common/card-main.scss";
@import "./common/narrow-banner.scss";
@import "./common/main-icon-list.scss";
@import "./common/main-form.scss";
@import "./common/ru-map.scss";
@import "./common/cards.scss";
@import "./common/baner-angle.scss";
@import "./common/doc-card.scss";
@import "./common/help-faq.scss";
@import "./common/download-list.scss";
@import "./common/akcii.scss";
@import "./common/press-card.scss";
@import "./common/filter-m.scss";
@import "./common/contact-map.scss";
@import "./common/swiper-slide.scss";
@import "./common/advant-slider.scss";
@import "./pages/index.scss";
@import "./pages/okomp.scss";
@import "./pages/klient.scss";
@import "./pages/404.scss";
@import "./pages/complex.scss";
@import "./common/footer.scss";

/* Костыль ~(>_<。)＼ */
.header_mimic {
	height: 80px;
}

.footer,
.header__top {
	background-color: var(--color-dop-back);
	color: var(--color-main-text);
}

.section-margin {
	margin-top: 0;
}

.filter {
	padding-top: 0;
	border: 1px solid var(--color-border);
	border-radius: 5px;
}

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
