// Персональная консультация
.cont-block__wrap.cont-block_m70
    .cont-block
        .main-form 
            .main-form__body 
                h3.main-form__h Персональная консультация
                .main-form__text Наш менеджер перезвонит вам в течение 15 минут
                form.main-form__form
                    lable.input
                        // .input__name Фамилия 
                        input(type="text" name="" placeholder="Имя").input__input
                        .input__error Поле указано не верно                   
                    lable.input
                        // .input__name Фамилия 
                        input(type="tel" name="" placeholder="Телефон").input__input
                        .input__error Поле указано не верно                   
                    .main-form__button-wrap 
                        button(type="submit").button.main-form__button Отправить заявку
                        .main-form__form-text ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то текст

            .main-form__img