@mixin udoli {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

$content-max-weight: 1200px;
$content-padding: 20px;

.sale-card {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 24px;
}

.sale-card__item {
	grid-column-end: span 3;

	&:nth-child(n + 3) {
		grid-column-end: span 2;
	}
}

.sale-card__link {
	display: block;
	overflow: hidden;
	border: 1px solid var(--color-border);
	border-radius: 5px;
	text-decoration: none;
}

.sale-card__img {
	display: block;
	width: 100%;
	height: 330px;
	object-fit: cover;
}

.sale-card__body {
	padding: 14px 24px 20px;
}

.sale-card__date {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: var(--color-dop);
	margin-bottom: 6px;
}

.sale-card__name {
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
}

.sale-card__teg-list {
	display: flex;
	flex-wrap: wrap;
	margin: 12px -10px -5px;
}

.sale-card__teg {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: var(--color-dop);
	padding: 6px 12px;
	background: rgba(61, 61, 61, 0.6);
	border-radius: 3px;
	margin: 5px 10px;
}

@media screen and (max-width: 960px) {
	.sale-card__item {
		&:nth-child(n + 3) {
			grid-column-end: span 3;
		}
	}
}

@media screen and (max-width: 680px) {
	.sale-card {
		grid-template-columns: 1fr;
	}

	.sale-card__item {
		grid-column-end: span 1;

		&:nth-child(n + 3) {
			grid-column-end: span 1;
		}
	}
}
